<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Stockage (Android < 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Photos (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FoodOrderApp"
        android:usesCleartextTraffic="true">

        <activity 
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />
        <activity android:name=".activities.ManageFoodsActivity" />
        <activity android:name=".activities.ManageOrdersActivity" />
        <activity android:name=".activities.OrderDetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.AddFoodActivity" />
        <activity android:name=".activities.OrdersActivity" />
        <activity android:name=".activities.FoodDetailActivity" />

    </application>
</manifest>
